<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="${cacheClassName}"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>

#end
#if(${baseColumnList})
    <!-- 通用查询结果列23 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
        ${field.columnName},
#end
        ${table.fieldNames}
    </sql>
#end

    <!-- 通用插入条件列 -->
    <sql id="Insert_Column_List">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($field in ${table.fields})
                <if test="${field.propertyName} != null">
                    ${field.columnName},
                </if>
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        #foreach($field in ${table.fields})
            <if test="${field.propertyName} != null">
                #{${field.propertyName}, jdbcType=${field.metaInfo.jdbcType}},
            </if>
        #end
        </trim>
    </sql>

    <!-- 通用修改字段 -->
    <sql id="Update_Column_List">
        <set>
    #foreach($field in ${table.fields})
            <if test="${field.propertyName} != null">
                ${field.columnName} = #{${field.propertyName}, jdbcType=${field.metaInfo.jdbcType}},
            </if>
    #end
        </set>
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Select_Column_List">
    #foreach($field in ${table.fields})
        <if test="${field.propertyName} != null and ${field.propertyName} != ''">
            and ${field.columnName} = #{${field.propertyName}, jdbcType=${field.metaInfo.jdbcType}}
        </if>
    #end
    </sql>

#foreach($field in ${table.fields})
    #if(${field.columnName}==${primaryKey})
    <select id="selectBy${field.capitalName}" parameterType="${field.propertyType}" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ${table.name}
        where ${field.columnName} = #{${field.propertyName},jdbcType=${field.metaInfo.jdbcType}}
    </select>

    <delete id="deleteBy${field.capitalName}" parameterType="${field.propertyType}">
        delete from ${table.name} where ${field.columnName} = #{${field.propertyName}}
    </delete>

    <update id="updateBy${field.capitalName}" parameterType="${package.Entity}.${entity}">
        update ${table.name}
        <include refid="Update_Column_List" />
        where ${field.columnName} = #{${field.propertyName}, jdbcType=${field.metaInfo.jdbcType}}
    </update>
#end
#end

    <insert id="insert" parameterType="${package.Entity}.${entity}">
        insert into ${table.name}
        <include refid="Insert_Column_List" />
    </insert>

    <select id="selectBy${field.capitalName}" parameterType="${package.Entity}.${entity}" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ${table.name}
        <where>
            <include refid="Select_Column_List" />
        </where>
    </select>

</mapper>
