package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
#if(${mapperAnnotation})
import org.apache.ibatis.annotations.Mapper;
#end

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotation})
@Mapper
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} {

    int insert(${entity} entity);

    #foreach($field in ${table.fields})
        #if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
        #end
    #end

    #foreach($field in ${table.fields})
    #if(${field.keyIdentityFlag})##生成主键排在第一位
    int deleteBy${field.capitalName}(${field.propertyType} ${field.propertyName});

    int updateBy${field.capitalName}(${entity} entity);

    ${entity} selectById(${field.propertyType} ${field.propertyName});
    #end
    #end

    List<${entity}> selectByEntity(${entity} entity);

}
#end
