package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
#if(${mapperAnnotation})
import org.apache.ibatis.annotations.Mapper;
#end
import java.util.List;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotation})
@Mapper
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} {

    int insert(${entity} entity);

    #foreach($field in ${table.fields})
    #if(${field.columnName}==${primaryKey})
    int deleteBy${field.capitalName}(${field.propertyType} ${field.propertyName});

    int updateBy${field.capitalName}(${entity} entity);

    ${entity} selectBy${field.capitalName}(${field.propertyType} ${field.propertyName});
    #end
    #end

    List<${entity}> selectByEntity(${entity} entity);

}
#end
